@font-face {
  font-family: pokemonFont;
  src: url(@/assets/FreePixel.ttf);
  font-weight: bold;
}

@font-face {
  font-family: titleFont;
  src: url(@/assets/MayfairNBP/MayfairNbpBold.ttf);
  font-weight: bold;
}

#sprite {
  position: fixed;
  bottom: 70px;
  right: -50px;
  pointer-events: none;
  text-align: center;
}

.pokeball {
  position: fixed;
  bottom: 0px;
  right: 280px;
  width: 15px;
  pointer-events: none;
  filter: brightness(1);
}

.sparkle {
  position: fixed;
  bottom: 40px;
  right: 87px;
  pointer-events: none;
  width: 1px;
  transform: rotateX(180deg);
}

.pokemonText {
  font-family: pokemonFont;
  position: fixed;
  bottom: 80px;
  right: 150px;
  width: 200px;
  white-space: pre-line;
  opacity: 0;
}
